<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name.toUpperCase() }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button">
        Manage
      </button>
      <div class="dropdown-menu" #toggleDropdown style="cursor: pointer">
        <a class="dropdown-item">Add to shopping list 📜</a>
        <a class="dropdown-item" (click)="navigateToEditRecipe()">Edit 🧙‍♂️ </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
        {{ ingredient.fakeIcon }}
      </li>
    </ul>
  </div>
</div>
