<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr />
    <ul class="list-group">
      <a
        [appBetterHighlight]="{
          defaultColor: 'blue',
          highlightColor: 'green',
          highlightDuration: '.7s'
        }"
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let ingredientIndex = index"
      >
        <div class="ingredient">
          <div class="ingredient__content">
            {{ ingredient.fakeIcon }} {{ ingredient.name }} ({{
              ingredient.amount
            }})
          </div>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-warning"
              (click)="onEditIngredient(ingredientIndex)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteIng(ingredient.name)"
            >
              Delete
            </button>
          </div>
        </div>
      </a>
    </ul>
  </div>
</div>
